<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0d73c7f9282504ab5b6aecbb4117da95 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_0d73c7f9282504ab5b6aecbb4117da95" ></div>
        
</body>
<script>
    
    
            var map_0d73c7f9282504ab5b6aecbb4117da95 = L.map(
                "map_0d73c7f9282504ab5b6aecbb4117da95",
                {
                    center: [19.0999, 72.8519],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 12,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_fdd746f5df6c231d6ff37c5845a9e105 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_fdd746f5df6c231d6ff37c5845a9e105.addTo(map_0d73c7f9282504ab5b6aecbb4117da95);
        
    
            var marker_cluster_85c330ff0b4e71e4d0d543542b2d70c1 = L.markerClusterGroup(
                {
}
            );
        
    
            var marker_c16af064fac28e5d712a5fa27fb44f98 = L.marker(
                [19.114249, 72.865584],
                {
}
            ).addTo(marker_cluster_85c330ff0b4e71e4d0d543542b2d70c1);
        
    
            var icon_671d5e118823d0071cae3d931dda4810 = L.AwesomeMarkers.icon(
                {
  "markerColor": "beige",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_c16af064fac28e5d712a5fa27fb44f98.setIcon(icon_671d5e118823d0071cae3d931dda4810);
        
    
        var popup_256e664868e99d02f4427ec990051940 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_752e0af6ff04e352509d2e46aa42ac4a = $(`<div id="html_752e0af6ff04e352509d2e46aa42ac4a" style="width: 100.0%; height: 100.0%;">                 <b>Crime Type:</b> Violence<br>                 <b>Status:</b> Unsolved<br>                 <b>Officer:</b> Umesh Yadav<br>                 <b>Case ID:</b> 2023965<br>                 <b>Year:</b> 2022<br>                 <b>Distance:</b> 2.14 km<br>             </div>`)[0];
                popup_256e664868e99d02f4427ec990051940.setContent(html_752e0af6ff04e352509d2e46aa42ac4a);
            
        

        marker_c16af064fac28e5d712a5fa27fb44f98.bindPopup(popup_256e664868e99d02f4427ec990051940)
        ;

        
    
    
            var marker_0c95bc1ecb51678fa424161fcd2fb470 = L.marker(
                [19.10319, 72.850927],
                {
}
            ).addTo(marker_cluster_85c330ff0b4e71e4d0d543542b2d70c1);
        
    
            var icon_c6ed3c3255111d7ccc6cf635ba98714c = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_0c95bc1ecb51678fa424161fcd2fb470.setIcon(icon_c6ed3c3255111d7ccc6cf635ba98714c);
        
    
        var popup_d1032372f5ab081a8b70af718ed41c96 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_68147758124aa360bdf22f9ad29761ac = $(`<div id="html_68147758124aa360bdf22f9ad29761ac" style="width: 100.0%; height: 100.0%;">                 <b>Crime Type:</b> Murder<br>                 <b>Status:</b> Solved<br>                 <b>Officer:</b> Dinesh Menon<br>                 <b>Case ID:</b> 2022003<br>                 <b>Year:</b> 2023<br>                 <b>Distance:</b> 0.38 km<br>             </div>`)[0];
                popup_d1032372f5ab081a8b70af718ed41c96.setContent(html_68147758124aa360bdf22f9ad29761ac);
            
        

        marker_0c95bc1ecb51678fa424161fcd2fb470.bindPopup(popup_d1032372f5ab081a8b70af718ed41c96)
        ;

        
    
    
            var marker_d0f178a18f97d6bd0780bdee7c234d3e = L.marker(
                [19.085695, 72.832814],
                {
}
            ).addTo(marker_cluster_85c330ff0b4e71e4d0d543542b2d70c1);
        
    
            var icon_241f0c36f38fb4a74003ccbe504d458c = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_d0f178a18f97d6bd0780bdee7c234d3e.setIcon(icon_241f0c36f38fb4a74003ccbe504d458c);
        
    
        var popup_6feb47f087c2304616f75cc2bdca5bd5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_858422c1ef49720d5bce23b548ed9548 = $(`<div id="html_858422c1ef49720d5bce23b548ed9548" style="width: 100.0%; height: 100.0%;">                 <b>Crime Type:</b> Drink and Drive<br>                 <b>Status:</b> Solved<br>                 <b>Officer:</b> Rohini Nair<br>                 <b>Case ID:</b> 2022011<br>                 <b>Year:</b> 2022<br>                 <b>Distance:</b> 2.55 km<br>             </div>`)[0];
                popup_6feb47f087c2304616f75cc2bdca5bd5.setContent(html_858422c1ef49720d5bce23b548ed9548);
            
        

        marker_d0f178a18f97d6bd0780bdee7c234d3e.bindPopup(popup_6feb47f087c2304616f75cc2bdca5bd5)
        ;

        
    
    
            var marker_48259ff85599e742becee5d01578a193 = L.marker(
                [19.115619, 72.863876],
                {
}
            ).addTo(marker_cluster_85c330ff0b4e71e4d0d543542b2d70c1);
        
    
            var icon_8e6204f57a3e2efb23b9a6046d470c10 = L.AwesomeMarkers.icon(
                {
  "markerColor": "gray",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_48259ff85599e742becee5d01578a193.setIcon(icon_8e6204f57a3e2efb23b9a6046d470c10);
        
    
        var popup_27b1239e6769eebc03f821da5a8c878d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f7db44be77e8e670ae6ce1d0a0783775 = $(`<div id="html_f7db44be77e8e670ae6ce1d0a0783775" style="width: 100.0%; height: 100.0%;">                 <b>Crime Type:</b> Suicide<br>                 <b>Status:</b> Solved<br>                 <b>Officer:</b> Nilesh Khot<br>                 <b>Case ID:</b> 2022017<br>                 <b>Year:</b> 2024<br>                 <b>Distance:</b> 2.15 km<br>             </div>`)[0];
                popup_27b1239e6769eebc03f821da5a8c878d.setContent(html_f7db44be77e8e670ae6ce1d0a0783775);
            
        

        marker_48259ff85599e742becee5d01578a193.bindPopup(popup_27b1239e6769eebc03f821da5a8c878d)
        ;

        
    
    
            var marker_3f7e4b4b23d8b2148ced3d96a0fd7782 = L.marker(
                [19.100194, 72.858232],
                {
}
            ).addTo(marker_cluster_85c330ff0b4e71e4d0d543542b2d70c1);
        
    
            var icon_5ada7511ed5923bb6a11c9f36b8982f5 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_3f7e4b4b23d8b2148ced3d96a0fd7782.setIcon(icon_5ada7511ed5923bb6a11c9f36b8982f5);
        
    
        var popup_3e14a29f105d1a28a26075c4b0e3d9a3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_85e945182fc7add78fd6c2e3118257b8 = $(`<div id="html_85e945182fc7add78fd6c2e3118257b8" style="width: 100.0%; height: 100.0%;">                 <b>Crime Type:</b> Murder<br>                 <b>Status:</b> Solved<br>                 <b>Officer:</b> Nilesh Khot<br>                 <b>Case ID:</b> 2022049<br>                 <b>Year:</b> 2023<br>                 <b>Distance:</b> 0.67 km<br>             </div>`)[0];
                popup_3e14a29f105d1a28a26075c4b0e3d9a3.setContent(html_85e945182fc7add78fd6c2e3118257b8);
            
        

        marker_3f7e4b4b23d8b2148ced3d96a0fd7782.bindPopup(popup_3e14a29f105d1a28a26075c4b0e3d9a3)
        ;

        
    
    
            var marker_df2a7ac57bc182fadd5f3434b5110786 = L.marker(
                [19.082454, 72.844859],
                {
}
            ).addTo(marker_cluster_85c330ff0b4e71e4d0d543542b2d70c1);
        
    
            var icon_94ffc5263e1a6f49ada7c036f953e33a = L.AwesomeMarkers.icon(
                {
  "markerColor": "purple",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_df2a7ac57bc182fadd5f3434b5110786.setIcon(icon_94ffc5263e1a6f49ada7c036f953e33a);
        
    
        var popup_2a80dca2e0a229f03653f2343d6242f8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_dc2bc5e44b345bad59a75301b58cc0c6 = $(`<div id="html_dc2bc5e44b345bad59a75301b58cc0c6" style="width: 100.0%; height: 100.0%;">                 <b>Crime Type:</b> Kidnapping<br>                 <b>Status:</b> Solved<br>                 <b>Officer:</b> Sandeep Chauhan<br>                 <b>Case ID:</b> 2022057<br>                 <b>Year:</b> 2022<br>                 <b>Distance:</b> 2.07 km<br>             </div>`)[0];
                popup_2a80dca2e0a229f03653f2343d6242f8.setContent(html_dc2bc5e44b345bad59a75301b58cc0c6);
            
        

        marker_df2a7ac57bc182fadd5f3434b5110786.bindPopup(popup_2a80dca2e0a229f03653f2343d6242f8)
        ;

        
    
    
            marker_cluster_85c330ff0b4e71e4d0d543542b2d70c1.addTo(map_0d73c7f9282504ab5b6aecbb4117da95);
        
    
            var poly_line_216a47066ef55b624b09f72b7f236af7 = L.polyline(
                [[19.0999, 72.8519], [19.114249, 72.865584]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_0d73c7f9282504ab5b6aecbb4117da95);
        
    
            var poly_line_45a49d8d3e6797c3c7f634d54e79d930 = L.polyline(
                [[19.0999, 72.8519], [19.10319, 72.850927]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_0d73c7f9282504ab5b6aecbb4117da95);
        
    
            var poly_line_d5d7cd4725fe58995def76cb4bc3c064 = L.polyline(
                [[19.0999, 72.8519], [19.085695, 72.832814]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_0d73c7f9282504ab5b6aecbb4117da95);
        
    
            var poly_line_b2ffa7a7fbb4c1d6ef6928b8e43b79df = L.polyline(
                [[19.0999, 72.8519], [19.115619, 72.863876]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_0d73c7f9282504ab5b6aecbb4117da95);
        
    
            var poly_line_e792cf169374c70ce299a22d0fd6e09a = L.polyline(
                [[19.0999, 72.8519], [19.100194, 72.858232]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_0d73c7f9282504ab5b6aecbb4117da95);
        
    
            var poly_line_9b5aa99295cfc56f90e935ac9e57b956 = L.polyline(
                [[19.0999, 72.8519], [19.082454, 72.844859]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_0d73c7f9282504ab5b6aecbb4117da95);
        
</script>
</html>