<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c7e75dfa25ea9c35aeab33087cc05edb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_c7e75dfa25ea9c35aeab33087cc05edb" ></div>
        
</body>
<script>
    
    
            var map_c7e75dfa25ea9c35aeab33087cc05edb = L.map(
                "map_c7e75dfa25ea9c35aeab33087cc05edb",
                {
                    center: [19.0999, 72.8519],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 12,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_eecb18346f82320768954f97de19500f = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_eecb18346f82320768954f97de19500f.addTo(map_c7e75dfa25ea9c35aeab33087cc05edb);
        
    
            var marker_cluster_ea4604ce5b91f97eac87e897ef94f7e6 = L.markerClusterGroup(
                {
}
            );
        
    
            var marker_41a5e2daf172480b74205b756148e0de = L.marker(
                [19.114249, 72.865584],
                {
}
            ).addTo(marker_cluster_ea4604ce5b91f97eac87e897ef94f7e6);
        
    
            var icon_2f4c1f0eaf3e8ba0c6b384805abe7571 = L.AwesomeMarkers.icon(
                {
  "markerColor": "beige",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_41a5e2daf172480b74205b756148e0de.setIcon(icon_2f4c1f0eaf3e8ba0c6b384805abe7571);
        
    
        var popup_d837d779a05b8d54911f44cb3b371f41 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d43fddcb7f3007129a3c6a01d38ea442 = $(`<div id="html_d43fddcb7f3007129a3c6a01d38ea442" style="width: 100.0%; height: 100.0%;">                 <b>Crime Type:</b> Violence<br>                 <b>Status:</b> Unsolved<br>                 <b>Officer:</b> Umesh Yadav<br>                 <b>Case ID:</b> 2023965<br>                 <b>Year:</b> 2022<br>                 <b>Distance:</b> 2.14 km<br>             </div>`)[0];
                popup_d837d779a05b8d54911f44cb3b371f41.setContent(html_d43fddcb7f3007129a3c6a01d38ea442);
            
        

        marker_41a5e2daf172480b74205b756148e0de.bindPopup(popup_d837d779a05b8d54911f44cb3b371f41)
        ;

        
    
    
            var marker_19e2dbc23815d6fd8bcc420bd0d00a1c = L.marker(
                [19.10319, 72.850927],
                {
}
            ).addTo(marker_cluster_ea4604ce5b91f97eac87e897ef94f7e6);
        
    
            var icon_f96936b6e897807031a37dfa79a7805a = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_19e2dbc23815d6fd8bcc420bd0d00a1c.setIcon(icon_f96936b6e897807031a37dfa79a7805a);
        
    
        var popup_95d3e672883a198cb8738d36ffc12216 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3cafac7c305fb6814dfa02a7c47c96d9 = $(`<div id="html_3cafac7c305fb6814dfa02a7c47c96d9" style="width: 100.0%; height: 100.0%;">                 <b>Crime Type:</b> Murder<br>                 <b>Status:</b> Solved<br>                 <b>Officer:</b> Dinesh Menon<br>                 <b>Case ID:</b> 2022003<br>                 <b>Year:</b> 2023<br>                 <b>Distance:</b> 0.38 km<br>             </div>`)[0];
                popup_95d3e672883a198cb8738d36ffc12216.setContent(html_3cafac7c305fb6814dfa02a7c47c96d9);
            
        

        marker_19e2dbc23815d6fd8bcc420bd0d00a1c.bindPopup(popup_95d3e672883a198cb8738d36ffc12216)
        ;

        
    
    
            var marker_8206f84abab7b86f43c65c36d49d3e64 = L.marker(
                [19.085695, 72.832814],
                {
}
            ).addTo(marker_cluster_ea4604ce5b91f97eac87e897ef94f7e6);
        
    
            var icon_8d8194e50431ced849a0b6ab706feda2 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_8206f84abab7b86f43c65c36d49d3e64.setIcon(icon_8d8194e50431ced849a0b6ab706feda2);
        
    
        var popup_05fbbb0da7acc06ca7c2a63cf1fa52c7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a8cc9a8300ccc99eb0071f8011de0036 = $(`<div id="html_a8cc9a8300ccc99eb0071f8011de0036" style="width: 100.0%; height: 100.0%;">                 <b>Crime Type:</b> Drink and Drive<br>                 <b>Status:</b> Solved<br>                 <b>Officer:</b> Rohini Nair<br>                 <b>Case ID:</b> 2022011<br>                 <b>Year:</b> 2022<br>                 <b>Distance:</b> 2.55 km<br>             </div>`)[0];
                popup_05fbbb0da7acc06ca7c2a63cf1fa52c7.setContent(html_a8cc9a8300ccc99eb0071f8011de0036);
            
        

        marker_8206f84abab7b86f43c65c36d49d3e64.bindPopup(popup_05fbbb0da7acc06ca7c2a63cf1fa52c7)
        ;

        
    
    
            var marker_836c3790e6a1d61473e85d52c948be4f = L.marker(
                [19.115619, 72.863876],
                {
}
            ).addTo(marker_cluster_ea4604ce5b91f97eac87e897ef94f7e6);
        
    
            var icon_e6c3f3b9398f277030a0fb4bec9b9a22 = L.AwesomeMarkers.icon(
                {
  "markerColor": "gray",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_836c3790e6a1d61473e85d52c948be4f.setIcon(icon_e6c3f3b9398f277030a0fb4bec9b9a22);
        
    
        var popup_3eec708ad4cfb0dd35ac59fbc8f3eda0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_34a0f3eff0adcc3082787b64cac28bdc = $(`<div id="html_34a0f3eff0adcc3082787b64cac28bdc" style="width: 100.0%; height: 100.0%;">                 <b>Crime Type:</b> Suicide<br>                 <b>Status:</b> Solved<br>                 <b>Officer:</b> Nilesh Khot<br>                 <b>Case ID:</b> 2022017<br>                 <b>Year:</b> 2024<br>                 <b>Distance:</b> 2.15 km<br>             </div>`)[0];
                popup_3eec708ad4cfb0dd35ac59fbc8f3eda0.setContent(html_34a0f3eff0adcc3082787b64cac28bdc);
            
        

        marker_836c3790e6a1d61473e85d52c948be4f.bindPopup(popup_3eec708ad4cfb0dd35ac59fbc8f3eda0)
        ;

        
    
    
            var marker_137b4d7983b147120aeb65a781872258 = L.marker(
                [19.100194, 72.858232],
                {
}
            ).addTo(marker_cluster_ea4604ce5b91f97eac87e897ef94f7e6);
        
    
            var icon_c45b7b27a5abe8722daa571695a01b22 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_137b4d7983b147120aeb65a781872258.setIcon(icon_c45b7b27a5abe8722daa571695a01b22);
        
    
        var popup_71538554fb3536ef45167d798dd9483a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0fff3f75faeeb2b2253a6ac1a77aa765 = $(`<div id="html_0fff3f75faeeb2b2253a6ac1a77aa765" style="width: 100.0%; height: 100.0%;">                 <b>Crime Type:</b> Murder<br>                 <b>Status:</b> Solved<br>                 <b>Officer:</b> Nilesh Khot<br>                 <b>Case ID:</b> 2022049<br>                 <b>Year:</b> 2023<br>                 <b>Distance:</b> 0.67 km<br>             </div>`)[0];
                popup_71538554fb3536ef45167d798dd9483a.setContent(html_0fff3f75faeeb2b2253a6ac1a77aa765);
            
        

        marker_137b4d7983b147120aeb65a781872258.bindPopup(popup_71538554fb3536ef45167d798dd9483a)
        ;

        
    
    
            var marker_89d177fd381ce885cc86c82bda10d7d3 = L.marker(
                [19.082454, 72.844859],
                {
}
            ).addTo(marker_cluster_ea4604ce5b91f97eac87e897ef94f7e6);
        
    
            var icon_2cc3525d75f4fa6e8c3a0c3b9d5211c1 = L.AwesomeMarkers.icon(
                {
  "markerColor": "purple",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_89d177fd381ce885cc86c82bda10d7d3.setIcon(icon_2cc3525d75f4fa6e8c3a0c3b9d5211c1);
        
    
        var popup_ede1ffb5e8e57f29978a100af93a96d8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_dbdd49459515f8c5b52c3d7f7871b4b7 = $(`<div id="html_dbdd49459515f8c5b52c3d7f7871b4b7" style="width: 100.0%; height: 100.0%;">                 <b>Crime Type:</b> Kidnapping<br>                 <b>Status:</b> Solved<br>                 <b>Officer:</b> Sandeep Chauhan<br>                 <b>Case ID:</b> 2022057<br>                 <b>Year:</b> 2022<br>                 <b>Distance:</b> 2.07 km<br>             </div>`)[0];
                popup_ede1ffb5e8e57f29978a100af93a96d8.setContent(html_dbdd49459515f8c5b52c3d7f7871b4b7);
            
        

        marker_89d177fd381ce885cc86c82bda10d7d3.bindPopup(popup_ede1ffb5e8e57f29978a100af93a96d8)
        ;

        
    
    
            marker_cluster_ea4604ce5b91f97eac87e897ef94f7e6.addTo(map_c7e75dfa25ea9c35aeab33087cc05edb);
        
    
            var poly_line_3479f043aa4fd5f69fc8bd28fb640789 = L.polyline(
                [[19.0999, 72.8519], [19.114249, 72.865584]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_c7e75dfa25ea9c35aeab33087cc05edb);
        
    
            var poly_line_edb97b361874c14e0a281beddbfdd6a8 = L.polyline(
                [[19.0999, 72.8519], [19.10319, 72.850927]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_c7e75dfa25ea9c35aeab33087cc05edb);
        
    
            var poly_line_06f4ed8e52748002028f2230c74e7668 = L.polyline(
                [[19.0999, 72.8519], [19.085695, 72.832814]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_c7e75dfa25ea9c35aeab33087cc05edb);
        
    
            var poly_line_21d8a0226343bea68906159ed8037503 = L.polyline(
                [[19.0999, 72.8519], [19.115619, 72.863876]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_c7e75dfa25ea9c35aeab33087cc05edb);
        
    
            var poly_line_666db294c36dfe920f939fd81a12eed4 = L.polyline(
                [[19.0999, 72.8519], [19.100194, 72.858232]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_c7e75dfa25ea9c35aeab33087cc05edb);
        
    
            var poly_line_4a28d5221784bb6382fa3ad639969636 = L.polyline(
                [[19.0999, 72.8519], [19.082454, 72.844859]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_c7e75dfa25ea9c35aeab33087cc05edb);
        
</script>
</html>